// .customers__link {
//   display: flex;
//   box-sizing: border-box;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid var(--icon-customer-cl);
//   border-radius: 4px;
//   color: var(--icon-customer-cl);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--button-hover);
//   }
//   &:hover,
//   &:focus {
//     border: 1px solid var(--button-hover);
//   }
// }
.customers__item {
  display: flex;
  width: 170px;

  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    height: 92px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}
.customers__item:hover .customer__icon,
.customers__item:focus .customer__icon {
  fill: #2196f3;
}
.customer__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:hover,
.customers__item:focus {
  border-color: #2196f3;
}

.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.cutomers__link {
  &:hover .customer__icon,
  &:focus .customer__icon {
    fill: #2196f3;
  }
}
