// mobile menu
.icon-menu {
  padding: 0%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  fill: #000000;
}
.menu-container {
  position: fixed;
  display: flex;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateX(0%);
}
.menu-toggle {
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  //   & .menu-container {
  //     position: absolute;
  //     top: 16px;
  //     right: 16px;
  //     color: #fff;
  //   }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.header__nav-link--mobile {
  display: block;
  left: 40px;
  top: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
  list-style: none;
  color: #212121;
  &:hover,
  &:focus,
  &:active {
    color: var(--main-btn-cl);
  }

  &.current {
    color: var(--button-hover);
  }
}
.header__contacts--mobile {
  display: flex;
  padding: 0;
  margin-top: 302px;
  list-style: none;
  flex-direction: column;
}
.contacts__link--mobile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--subtitle-txt-cl);
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-btn-cl);
  }
}
.icon-close__mobile {
  display: inline-block;
  fill: #212121;
}
.menu-socials__list {
  display: flex;
  flex-wrap: wrap;
}

.menu-socials__item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 22px;
    margin: 0 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
}
// .menu-social {
//   @media screen and (min-width: 1200px) {
//     display: none;
//   }
// }
