.work {
  padding-top: 0px;
  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42.19 / 36);
    text-align: center;
    color: var(--main-txt-cl);
    @media screen and (max-width: 1199px) {
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }
  &__item {
    position: relative;
  }
  &__txt {
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 14;
    line-height: 16px;
    color: var(--background-txt-xl);
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
