.header__logo {
  color: var(--main-btn-cl);
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(30.52 / 26);
  letter-spacing: 0.02em;

  &--black {
    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    color: var(--main-txt-cl);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: calc(30.52 / 26);
    letter-spacing: 0.02em;
    margin-right: 93px;
  }
}
.footer__logo--white {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  color: var(--background-txt-xl);
  text-decoration: none;
  line-height: calc(30.52 / 26);
  letter-spacing: 0.02em;
  margin-right: 93px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}
