h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-txt-xl);
  font-family: Roboto, sans-serif;
  color: var(--main-txt-cl);
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
