:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /*Text colors*/
  --main-txt-cl: #212121;
  --subtitle-txt-cl: #757575;
  --background-txt-xl: #ffffff;
  --footer-txt-cl: #ffffff99;
  --logo-black-cl: #000000;
  --background-hero-cl: #ececec;
  /* Background colors */
  --main-backgrond-cl: #2f303a;
  --main-btn-cl: #2196f3;
  --button-hover: #188ce8;
  --background-portfolio-cl: #eeeeee;
  --logo-black-cl: #000000;
  /* Others */
  --background-btn-cl: #f5f4fa;
  --icon-team-cl: #afb1b8;
  --icon-customer-cl: #afb1b8;
  --border-color: #ececec;
  --border-card: #eeeeee;
  /*animatioins*/
  --anim-tr: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
